html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &.open {
        font-size: 40px;
        flex: 5;
    }
}

.panel1 { background-image:url(https://images.unsplash.com/photo-1547153760-18fc86324498?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w4MzY3MDB8MHwxfGFsbHx8fHx8fHx8fDE3NjQ4Njg1NjB8&ixlib=rb-4.1.0&q=80&w=1080); }
.panel2 { background-image:url(https://images.unsplash.com/photo-1704427089612-812206ef7c54?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w4MzY3MDB8MHwxfGFsbHx8fHx8fHx8fDE3NjQ4Njg2Njd8&ixlib=rb-4.1.0&q=80&w=1080); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://images.unsplash.com/photo-1573218877106-3e09ed6f4cf7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w4MzY3MDB8MHwxfGFsbHx8fHx8fHx8fDE3NjQ4NjkxOTZ8&ixlib=rb-4.1.0&q=80&w=1080); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1499871435582-a1d4ff236842?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w4MzY3MDB8MHwxfGFsbHx8fHx8fHx8fDE3NjQ4Njg4NTd8&ixlib=rb-4.1.0&q=80&w=1080); }

/* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;

    &:first-child {
        transform: translateY(-430%);
    }

    &:last-child {
        transform: translateY(430%);
    }
}

.panel.open-active > * {
    &:first-child {
        transform: translateY(0);
    }

    &:last-child {
        transform: translateY(0);
    }
}

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}