    /*
      misc styles, nothing to do with CSS variables
    */

    :root {
      --spacing: 1rem;
      --blur: 1rem;
      --baseColor: #ff3eff;
    }

    /* 'accent-color' only have Global 41.08% on caniuse.com, 
    so not recommended in a real project */
    input[type='range']{ 
      accent-color: var(--baseColor); 
    }

    img {
      padding: var(--spacing);
      background-color: var(--baseColor);
      filter: blur(var()--blur);
    }

    .hl-color {
      color: var(--baseColor);
    }

    body {
      text-align: center;
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
    }

    .controls {
      margin-bottom: 50px;
    }

    input {
      width: 100px;
    }